<div style="width: 1200px; height: 675px; position: relative; margin: 0 auto; overflow: hidden; background-color: #87CEEB;">
  <img
    data-name="background"
    data-prompt="A large background image for the poster"
    width="1200"
    height="675"
    style="position: absolute; top: 0; left: 0;"
    src="https://placehold.co/1200x675/87CEEB/FFFFFF" />

  <img
    data-name="product_container"
    data-prompt="A product image"
    width="150"
    height="200"
    style="position: absolute; bottom: 50px; right: 50px; box-shadow: 2px 2px 10px 4px rgba(255, 255, 255, .2)"
    src="https://placehold.co/150x200/FFFFFF/CCCCCC" />

  <div style="position: absolute; background-color: rgba(0, 0, 0, 0.3); top: 100px; width: 100%; height: 130px;"></div>
  <div
    data-name="headline"
    data-prompt="Main headline (2-5 words)"
    style="
      position: absolute;
      right: 180px;
      top: 100px;
      width: 1000px;
      font-size: 54px;
      font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif;
      font-weight: bold;
      color: #ffffff;
      text-align: right;
    ">Main headline</div>

  <div
    data-name="subheadline"
    data-prompt="Supporting tagline (4-7 words)"
    style="
      position: absolute;
      right: 180px;
      top: 170px;
      width: 1000px;
      font-size: 40px;
      font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif;
      font-weight: normal;
      color: #ffffff;
      font-variant: small-caps;
      text-align: right;
    ">Sub-heading</div>

  <div style="position: absolute; background-color: rgba(255, 255, 255, 0.4); right: 40px; top: 0; width: 120px; height: 180px;"></div>
  <img
    data-type="logo"
    width="100"
    height="100"
    src="https://placehold.co/100x100/f8d7da/dc3545"
    style="position: absolute; right: 50px; top: 70px; object-fit: contain;"
  />
</div>
</div>
